<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid m-4 mt-0 mb-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <li class="nav-item">
                    <img src="assets/img/logo.jpeg" alt="User image" width="50px" height="50px"
                        class="img-fluid rounded-circle">
                </li>
                <li class="nav-item p-3">
                    <p class="m-0 text-white fs-16">HealthNove</p>
                </li>
            </ul>

            <ul *ngIf="isLoggedIn" class="navbar-nav mb-auto d-flex align-items-center">
                <li class="nav-item dropdown p-3">
                    <a href="/scheduling" class="m-0 text-white fs-16">Agendamento</a>
                </li>
                <li class="nav-item dropdown p-3">
                    <a href="#" class="m-0 text-white fs-16">Sobre nós</a>
                </li>
                <li class="nav-item dropdown p-3">
                    <a href="#" class="m-0 text-white fs-16">Configurações</a>
                </li>
                <li class="nav-item dropdown p-3">
                    <a href="#" (click)="logout()" class="m-0 text-white fs-16">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>