<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid m-4 mt-0 mb-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex align-items-center">
                <li class="nav-item">
                    <img src="https://i.imgur.com/vuJcNH4.png" alt="User image" width="50px" height="50px"
                        class="img-fluid rounded-circle">
                </li>
                <li class="nav-item p-3">
                    <p class="m-0 text-white fs-16">Nome do usuário</p>
                </li>
            </ul>

            <ul class="navbar-nav mb-autoo d-flex align-items-center">
                <li class="nav-item p-3">
                    <h2 class="m-0 text-white fs-16">HealthNove</h2>
                </li>
            </ul>

            <ul class="navbar-nav mb-autoo d-flex align-items-center">
                <li class="nav-item p-3">
                    <a href="#" class="m-0 text-white fs-16">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>