<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-12 ">

            <div class="row d-flex justify-content-center">
                <div class="col-sm-6 shadow-lg p-3 mt-5 mb-4 bg-body rounded cardLogin">
                    <h1 class="text-center m-3">Cadastro</h1>

                    <div class="form-group">
                        <label for="name" class="mb-2">Nome</label>
                        <input [(ngModel)]="userRequest.name" class="form-control mb-3" type="text" name="name"
                            id="name" placeholder="Digite seu nome">
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="mb-2">Sobre nome</label>
                        <input [(ngModel)]="userRequest.lastName" class="form-control mb-3" type="text" name="lastName"
                            id="lastName" placeholder="Digite seu sobre nome">
                    </div>

                    <div class="form-group">
                        <label for="cpf" class="mb-2">CPF</label>
                        <input [(ngModel)]="userRequest.cpf" class="form-control mb-3" type="text" name="cpf" id="cpf"
                            placeholder="Digite seu cpf">
                    </div>

                    <div class="form-group">
                        <label for="phone" class="mb-2">Telefone</label>
                        <input [(ngModel)]="userRequest.phone" class="form-control mb-3" type="text" name="phone"
                            id="phone" placeholder="Digite seu telefone">
                    </div>

                    <div class="form-group">
                        <label for="birthdate" class="mb-2">Nascimento</label>
                        <input [(ngModel)]="userRequest.birthDate" class="form-control mb-3" type="date"
                            name="birthdate" id="birthdate">
                    </div>

                    <label for="gender" class="mb-2">Gênero</label>
                    <select [(ngModel)]="userRequest.gender" id="ngx-filter-ref1" class="form-control d-inline-block mb-3 width-250">
                        <option value="SELECIONE" selected>Selecione</option>
                        <option value="MALE">Masculino</option>
                        <option value="FEMALE">Feminino</option>
                    </select>

                    <div class="form-group">
                        <label for="email" class="mb-2">E-mail</label>
                        <input [(ngModel)]="userRequest.email" class="form-control mb-3" type="text" name="email"
                            id="email" placeholder="Digite seu e-mail">
                    </div>

                    <div class="form-group">
                        <label for="password" class="mb-2">Senha</label>
                        <input (input)="confirmPassword($event)" class="form-control mb-3" type="password" name="password"
                            id="password" placeholder="Digite sua senha">
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword" class="mb-2">Confirmar Senha</label>
                        <input [(ngModel)]="userRequest.password" class="form-control mb-3" type="password" name="confirmPassword"
                            id="confirmPassword" placeholder="Digite sua senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger me-4" (click)='cancel()'>Cancelar</button>
                        <button type="submit" class="btn btn-success" (click)='signUp()'>Cadastrar</button>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>