<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-12 ">
            <div class="row d-flex justify-content-center">
                <form [formGroup]="form" class="col-sm-6 shadow-lg p-3 mt-4 mb-4 bg-body rounded cardLogin">
                    <h1 class="text-center m-3">Cadastro</h1>

                    <div class="form-group">
                        <label for="name" class="mb-1 mt-3">Nome*</label>
                        <input formControlName="name" class="form-control" type="text" name="name" id="name"
                            placeholder="Digite seu nome">
                        <small class="form-text text-danger "
                            *ngIf="!form.get('name')?.valid && (form.get('name')?.dirty || form.get('name')?.touched)">Campo
                            obrigatório!</small>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="mb-1 mt-3">Sobrenome*</label>
                        <input formControlName="lastName" class="form-control" type="text" name="lastName" id="lastName"
                            placeholder="Digite seu Sobrenome">
                        <small class="form-text text-danger "
                            *ngIf="!form.get('lastName')?.valid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)">Campo
                            obrigatório!</small>
                    </div>

                    <div class="form-group">
                        <label for="cpf" class="mb-1 mt-3">CPF*</label>
                        <input formControlName="cpf" class="form-control" type="text" mask="000.000.000-00" name="cpf"
                            id="cpf" placeholder="Digite seu cpf">
                        <small class="form-text text-danger "
                            *ngIf="!form.get('cpf')?.valid && (form.get('cpf')?.dirty || form.get('cpf')?.touched)">Campo
                            obrigatório!</small>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="mb-1 mt-3">Telefone*</label>
                        <input formControlName="phone" mask="(00) 00000-0000" class="form-control" type="text"
                            name="phone" id="phone" placeholder="Digite seu telefone">
                        <small class="form-text text-danger "
                            *ngIf="!form.get('phone')?.valid && (form.get('phone')?.dirty || form.get('phone')?.touched)">Campo
                            obrigatório!</small>
                    </div>

                    <div class="form-group">
                        <label for="birthDate" class="mb-1 mt-3">Nascimento*</label>
                        <input formControlName="birthDate" class="form-control" type="date" name="birthDate"
                            id="birthDate">
                        <small class="form-text text-danger "
                            *ngIf="!form.get('birthDate')?.valid && (form.get('birthDate')?.dirty || form.get('birthDate')?.touched)">Campo
                            obrigatório!</small>
                    </div>

                    <label for="gender" class="mb-1 mt-3">Gênero*</label>
                    <select formControlName="gender" id="gender" class="form-control d-inline-block width-250">
                        <option value="" disabled selected hidden>Selecione</option>
                        <option value="MALE">Masculino</option>
                        <option value="FEMALE">Feminino</option>
                    </select>

                    <div class="form-group">
                        <label for="email" class="mb-1 mt-3">E-mail*</label>
                        <input formControlName="email" class="form-control" type="text" name="email" id="email"
                            placeholder="Digite seu e-mail">
                        <small class="form-text text-danger "
                            *ngIf="!form.get('email')?.valid && (form.get('email')?.dirty || form.get('email')?.touched)">Campo
                            obrigatório!</small>
                    </div>

                    <div class="form-group">
                        <label for="password" class="mb-1 mt-3">Senha*</label>
                        <input formControlName="password" (input)="confirmPassword($event)" class="form-control"
                            type="password" name="password" id="password" placeholder="Digite sua senha">
                        <small class="form-text text-danger "
                            *ngIf="!form.get('password')?.valid && (form.get('password')?.dirty || form.get('password')?.touched)">Campo
                            obrigatório!</small>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword" class="mb-1 mt-3">Confirmar Senha*</label>
                        <input formControlName="confirmPassword" class="form-control" type="password"
                            name="confirmPassword" id="confirmPassword" placeholder="Digite sua senha">
                        <small class="form-text text-danger "
                            *ngIf="!form.get('confirmPassword')?.valid && (form.get('confirmPassword')?.dirty || form.get('confirmPassword')?.touched)">Campo
                            obrigatório!</small>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-danger me-4" (click)='cancel()'>Cancelar</button>
                        <button type="submit" class="btn btn-success" (click)='signUp()'>Cadastrar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>