<div class="d-flex justify-content-end me-3">
    <a style="margin-top: 24px;" href="#" class="btn btn-success">Nova consulta</a>
</div>
<div class="row col-12 m-3">
    <div class=" col-sm-4 col-md-4 col-xl-2 mt-5 mb-sm-0  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title justify-content-center">Consulta Agendada</h5>
                <div class=" d-flex justify-content-center">
                    <p class="card-text m-0 me-1">Nome </p>
                    <p class="card-text m-0">sobrenome </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>data e hora</p>
                </div>
                <div class="d-flex">
                    <a style="margin-right: 10px;" href="#" class="btn btn-success">Remarcar</a>
                    <a style="margin: auto;" href="#" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-sm-4 col-md-4 col-xl-2 mt-5 mb-sm-0  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title justify-content-center">Consulta Agendada</h5>
                <div class=" d-flex justify-content-center">
                    <p class="card-text m-0 me-1">Nome </p>
                    <p class="card-text m-0">sobrenome </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>data e hora</p>
                </div>
                <div class="d-flex">
                    <a style="margin-right: 10px;" href="#" class="btn btn-success">Remarcar</a>
                    <a style="margin: auto;" href="#" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-sm-4 col-md-4 col-xl-2 mt-5 mb-sm-0  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title justify-content-center">Consulta Agendada</h5>
                <div class=" d-flex justify-content-center">
                    <p class="card-text m-0 me-1">Nome </p>
                    <p class="card-text m-0">sobrenome </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>data e hora</p>
                </div>
                <div class="d-flex">
                    <a style="margin-right: 10px;" href="#" class="btn btn-success">Remarcar</a>
                    <a style="margin: auto;" href="#" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-sm-4 col-md-4 col-xl-2 mt-5 mb-sm-0  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title justify-content-center">Consulta Agendada</h5>
                <div class=" d-flex justify-content-center">
                    <p class="card-text m-0 me-1">Nome </p>
                    <p class="card-text m-0">sobrenome </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>data e hora</p>
                </div>
                <div class="d-flex">
                    <a style="margin-right: 10px;" href="#" class="btn btn-success">Remarcar</a>
                    <a style="margin: auto;" href="#" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-sm-4 col-md-4 col-xl-2 mt-5 mb-sm-0  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title justify-content-center">Consulta Agendada</h5>
                <div class=" d-flex justify-content-center">
                    <p class="card-text m-0 me-1">Nome </p>
                    <p class="card-text m-0">sobrenome </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>data e hora</p>
                </div>
                <div class="d-flex">
                    <a style="margin-right: 10px;" href="#" class="btn btn-success">Remarcar</a>
                    <a style="margin: auto;" href="#" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-sm-4 col-md-4 col-xl-2 mt-5 mb-sm-0  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title justify-content-center">Consulta Agendada</h5>
                <div class=" d-flex justify-content-center">
                    <p class="card-text m-0 me-1">Nome </p>
                    <p class="card-text m-0">sobrenome </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>data e hora</p>
                </div>
                <div class="d-flex">
                    <a style="margin-right: 10px;" href="#" class="btn btn-success">Remarcar</a>
                    <a style="margin: auto;" href="#" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-sm-4 col-md-4 col-xl-2 mt-5 mb-sm-0  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title justify-content-center">Consulta Agendada</h5>
                <div class=" d-flex justify-content-center">
                    <p class="card-text m-0 me-1">Nome </p>
                    <p class="card-text m-0">sobrenome </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>data e hora</p>
                </div>
                <div class="d-flex">
                    <a style="margin-right: 10px;" href="#" class="btn btn-success">Remarcar</a>
                    <a style="margin: auto;" href="#" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-sm-4 col-md-4 col-xl-2 mt-5 mb-sm-0  d-flex">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title justify-content-center">Consulta Agendada</h5>
                <div class=" d-flex justify-content-center">
                    <p class="card-text m-0 me-1">Nome </p>
                    <p class="card-text m-0">sobrenome </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p>data e hora</p>
                </div>
                <div class="d-flex">
                    <a style="margin-right: 10px;" href="#" class="btn btn-success">Remarcar</a>
                    <a style="margin: auto;" href="#" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>