<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-12 ">

            <div class="row d-flex justify-content-center">
                <div class="col-sm-4 shadow-lg p-3 mb-5 bg-body rounded cardLogin">
                    <h1 class="text-center m-3">Entrar</h1>

                    <form [formGroup]="loginForm">
                        <div class="form-group">
                            <label for="email" class="mb-2">Usuário</label>
                            <input formControlName="email" class="form-control" type="text" name="email" id="email"
                                placeholder="Seu o seu email">
                            <small class="form-text text-danger "
                                *ngIf="!loginForm.get('email')?.valid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">Digite
                                um email válido!</small>
                        </div>

                        <div class="form-group">
                            <label for="password" class="mt-3">Senha</label>
                            <input formControlName="password" class="form-control" type="password" name="password"
                                id="password" placeholder="Sua senha">
                                <small class="form-text text-danger "
                                *ngIf="!loginForm.get('password')?.valid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">Senha obrigatoria</small>
                        </div>

                    </form>

                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-success" (click)='entrar()'>Entrar</button>
                    </div>

                    <hr class="m-5">

                    <p class="text-center">
                        Não possui conta? <a routerLink="/signup">Cadastre-se</a>
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>